# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
MINILEND_WHITEPAPER.txt
THIRDWEB_INTEGRATION_SUMMARY.md
THIRDWEB_MIGRATION.md
minilend-thirdweb.txt
thirdweb-api.json
thirdweb-api.yaml
ROADMAP.md

# Worker logs
/logs/
*.log
.pm2/