info:
  contact:
    name: thirdweb Support
    url: https://thirdweb.com/support
  description: thirdweb API provides a unified interface for Web3 development.
    Build scalable blockchain applications with easy-to-use endpoints for wallet
    management, transaction processing, signatures, and smart contract
    interactions. Powered by thirdweb's infrastructure.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: thirdweb API
  version: 1.0.0
openapi: 3.1.0
security:
  - ClientAuth: []
  - SecretKeyAuth: []
  - BearerAuth: []
  - EcosystemAuth: []
  - EcosystemPartnerAuth: []
servers:
  - description: thirdweb API server
    url: https://api.thirdweb.com
components:
  securitySchemes:
    ClientAuth:
      description: Client ID for frontend usage from allowlisted origins
      in: header
      name: x-client-id
      type: apiKey
    SecretKeyAuth:
      description: Secret key for backend usage (never expose publicly)
      in: header
      name: x-secret-key
      type: apiKey
    BearerAuth:
      bearerFormat: JWT
      description: JWT access token for frontend usage (obtained from wallet authentication)
      scheme: bearer
      type: http
    EcosystemAuth:
      description: Ecosystem ID for ecosystem wallet operations
      in: header
      name: x-ecosystem-id
      type: apiKey
    EcosystemPartnerAuth:
      description: Ecosystem Partner ID for partner-specific routing
      in: header
      name: x-ecosystem-partner-id
      type: apiKey
  schemas: {}
  parameters: {}
paths:
  /v1/contracts:
    get:
      description: >-
        Retrieves a list of all smart contracts imported by the authenticated
        client on the thirdweb dashboard. This endpoint provides access to
        contracts that have been added to your dashboard for management and
        interaction. Results include contract metadata, deployment information,
        and import timestamps.


        **Authentication**: This endpoint requires backend authentication using
        the `x-secret-key` header. The secret key should never be exposed
        publicly.


        **ABI Enrichment**: When `includeAbi=true`, the endpoint will fetch the
        contract ABI (Application Binary Interface) from the thirdweb contract
        service for each contract. The ABI contains function signatures, event
        definitions, and interface specifications required for contract
        interaction.


        **Metadata Enrichment**: When `includeMetadata=true`, the endpoint will
        fetch additional metadata from the thirdweb contract metadata service
        for each contract. This includes information like contract name,
        description, compilation details, and more. The metadata is returned in
        an optional `metadata` object within each contract.
      examples:
        - description: Get the first 20 contracts imported by the client
          request:
            query:
              limit: 20
              page: 1
          response:
            result:
              contracts:
                - address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                  chainId: 1
                  deployedAt: 2023-01-15T10:30:00Z
                  importedAt: 2023-01-16T14:20:00Z
                  name: MyToken
                  symbol: MTK
                  type: ERC20
                - address: "0x1234567890abcdef1234567890abcdef12345678"
                  chainId: 137
                  deployedAt: 2023-02-01T09:15:00Z
                  importedAt: 2023-02-01T11:45:00Z
                  name: MyNFT
                  type: ERC721
              meta:
                limit: 20
                page: 1
                totalItems: 45
                totalPages: 3
        - description: Get contracts with ABI enrichment
          request:
            query:
              includeAbi: true
              limit: 5
              page: 1
          response:
            result:
              contracts:
                - abi:
                    - inputs:
                        - name: account
                          type: address
                      name: balanceOf
                      outputs:
                        - name: ""
                          type: uint256
                      stateMutability: view
                      type: function
                    - inputs:
                        - name: to
                          type: address
                        - name: amount
                          type: uint256
                      name: transfer
                      outputs:
                        - name: ""
                          type: bool
                      stateMutability: nonpayable
                      type: function
                  address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                  chainId: 1
                  deployedAt: 2023-01-15T10:30:00Z
                  importedAt: 2023-01-16T14:20:00Z
                  name: MyToken
                  symbol: MTK
                  type: ERC20
              meta:
                limit: 5
                page: 1
                totalItems: 45
                totalPages: 9
      operationId: listContracts
      summary: List Contracts
      tags:
        - Contracts
      parameters:
        - schema:
            type: string
            description: Whether to include the contract ABI (Application Binary Interface)
              for each contract. When true, fetches the ABI from the thirdweb
              contract service and returns it in an optional 'abi' array within
              each contract.
          required: false
          description: Whether to include the contract ABI (Application Binary Interface)
            for each contract. When true, fetches the ABI from the thirdweb
            contract service and returns it in an optional 'abi' array within
            each contract.
          name: includeAbi
          in: query
        - schema:
            type: string
            description: Whether to include contract metadata from the thirdweb contract
              metadata service. When true, fetches additional metadata for each
              contract and returns it in an optional 'metadata' object within
              each contract.
          required: false
          description: Whether to include contract metadata from the thirdweb contract
            metadata service. When true, fetches additional metadata for each
            contract and returns it in an optional 'metadata' object within each
            contract.
          name: includeMetadata
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            description: "The number of contracts to return (default: 20, max: 100)."
          required: false
          description: "The number of contracts to return (default: 20, max: 100)."
          name: limit
          in: query
        - schema:
            type: integer
            minimum: 1
            default: 1
            description: "The page number for pagination (default: 1)."
          required: false
          description: "The page number for pagination (default: 1)."
          name: page
          in: query
      responses:
        "200":
          description: Successfully retrieved list of contracts
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      contracts:
                        type: array
                        items:
                          type: object
                          properties:
                            abi:
                              type: array
                              items:
                                type: object
                                additionalProperties:
                                  nullable: true
                              description: The contract ABI (Application Binary Interface) as an array of
                                objects. Contains function definitions, event
                                signatures, constructor parameters, error
                                definitions, and other contract interface
                                specifications. Only present when
                                includeAbi=true.
                            address:
                              type: string
                              description: The contract address.
                            chainId:
                              type: string
                              description: The chain ID where the contract is deployed.
                            deployedAt:
                              type: string
                              description: The date when the contract was deployed.
                            id:
                              type: string
                              description: The contract ID.
                            importedAt:
                              type: string
                              description: The date when the contract was imported to the dashboard.
                            metadata:
                              type: object
                              properties:
                                chainId:
                                  type: number
                                  description: The chain ID where the contract is deployed.
                                compilationTarget:
                                  type: array
                                  items:
                                    type: string
                                  description: Array of compilation target paths.
                                contractAddress:
                                  type: string
                                  description: The contract address.
                                implementationAddress:
                                  type: string
                                  description: The implementation address for proxy contracts.
                                isCompositeAbi:
                                  type: boolean
                                  description: Whether the ABI is a composite of multiple contracts.
                                isPartialAbi:
                                  type: boolean
                                  description: Whether the ABI is partial or complete.
                                metadata:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                                  description: Solidity metadata object as defined in the Solidity documentation.
                                    Contains compiler settings, sources, and
                                    other compilation metadata.
                                strategy:
                                  type: string
                                  description: The strategy used to retrieve the metadata.
                              required:
                                - chainId
                                - contractAddress
                              description: Additional contract metadata from the thirdweb contract metadata
                                service. Only present when includeMetadata=true.
                                Contains compilation details, ABI information,
                                and Solidity metadata.
                            name:
                              type: string
                              description: The contract name, if available.
                            symbol:
                              type: string
                              description: The contract symbol, if available.
                            type:
                              type: string
                              description: The contract type (e.g., ERC20, ERC721, etc.).
                          required:
                            - address
                            - chainId
                            - importedAt
                          description: Contract details enriched with additional project information from
                            the API server.
                        description: Array of contracts imported by the client.
                      pagination:
                        type: object
                        properties:
                          hasMore:
                            type: boolean
                            description: Whether there are more items available
                          limit:
                            type: number
                            description: Number of items per page
                          page:
                            type: number
                            description: Current page number
                          totalCount:
                            type: number
                            description: Total number of items available
                        required:
                          - limit
                          - page
                    required:
                      - contracts
                      - pagination
                required:
                  - result
        "400":
          description: Invalid request parameters
        "401":
          description: Authentication required. The request must include a valid
            `x-secret-key` header for backend authentication.
        "429":
          description: Rate limit exceeded
        "500":
          description: Internal server error
    post:
      description: >-
        Deploy a new smart contract to a blockchain network. This endpoint
        allows you to deploy contracts by providing the contract source URL,
        target chain, constructor parameters, and optional salt for
        deterministic deployment.


        **Authentication**: This endpoint requires backend authentication using
        the `x-secret-key` header. The secret key should never be exposed
        publicly.
      examples:
        - description: Deploy a simple contract with constructor parameters
          request:
            body:
              chainId: 421614
              constructorParams:
                _defaultAdmin: "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                _name: MyToken
                _platformFeeBps: 100
                _platformFeeRecipient: "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                _primarySaleRecipient: "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                _symbol: MTK
                _trustedForwarders: []
              contractUrl: https://thirdweb.com/thirdweb.eth/TokenERC20
              salt: Hello, Thirdweb!
          response:
            result:
              address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
              chainId: 1
      operationId: deployContract
      summary: Deploy Contract
      tags:
        - Contracts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chainId:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
                  description: "The blockchain network identifier. Common values include: 1
                    (Ethereum), 8453 (Base), 137 (Polygon), 56 (BSC), 43114
                    (Avalanche), 42161 (Arbitrum), 10 (Optimism)."
                constructorParams:
                  type: object
                  additionalProperties:
                    nullable: true
                  description: "Object containing constructor parameters for the contract
                    deployment (e.g., { param1: 'value1', param2: 123 })."
                contractUrl:
                  type: string
                  format: uri
                  description: The URL to the contract source from thirdweb.com (e.g.,
                    https://thirdweb.com/thirdweb.eth/TokenERC20). Version
                    suffixes will be automatically stripped.
                from:
                  type: string
                  description: The wallet address that will deploy the contract.
                salt:
                  type: string
                  description: Optional salt value for deterministic contract deployment.
              required:
                - chainId
                - contractUrl
                - from
      responses:
        "200":
          description: Contract deployed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      address:
                        type: string
                        description: The deployed contract address.
                      chainId:
                        type: number
                        description: The chain ID where the contract was deployed.
                      transactionId:
                        type: string
                        description: The unique identifier for the transaction that deployed the
                          contract. Will not be returned if the contract was
                          already deployed at the predicted address.
                    required:
                      - address
                      - chainId
                required:
                  - result
        "400":
          description: Invalid request parameters
        "401":
          description: Authentication required. The request must include a valid
            `x-secret-key` header for backend authentication.
        "429":
          description: Rate limit exceeded
        "500":
          description: Internal server error
  /v1/contracts/read:
    post:
      description: >-
        Executes multiple read-only contract method calls in a single batch
        request. This endpoint allows efficient batch reading from multiple
        contracts on the same chain, significantly reducing the number of HTTP
        requests needed. Each call specifies the contract address, method
        signature, and optional parameters. Results are returned in the same
        order as the input calls, with individual success/failure status for
        each operation.


        **Authentication**: Pass `x-client-id` header for frontend usage from
        allowlisted origins or `x-secret-key` for backend usage.
      examples:
        - description: Get multiple ERC-20 token balances and metadata in one request
          request:
            body:
              calls:
                - contractAddress: "0xb2aA3511A31327d47D562c292D8B445A900B2ABf"
                  method: function getDeposit() view returns (uint256)
                - contractAddress: "0xBD0334AC7FADA28CcD27Fa09838e9EA4c39117Db"
                  method: function getDeposit() view returns (uint256)
              chainId: 42161
          response:
            result:
              - data: "251847784224398164"
                success: true
              - data: "119499816836484582"
                success: true
          summary: Batch ERC-20 Token Data
        - description: Read from multiple different contracts on the same chain
          request:
            body:
              calls:
                - contractAddress: "0xb2aA3511A31327d47D562c292D8B445A900B2ABf"
                  method: function getDeposit() view returns (uint256)
                - contractAddress: "0xBD0334AC7FADA28CcD27Fa09838e9EA4c39117Db"
                  method: function getDeposit() view returns (uint256)
              chainId: 42161
          response:
            result:
              - data: "251847784224398164"
                success: true
              - data: "119499816836484582"
                success: true
          summary: Multi-Contract Read on Polygon
        - description: Handling failed contract reads with error responses
          request:
            body:
              calls:
                - contractAddress: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                  method: function balanceOf(address) view returns (uint256)
                  params:
                    - "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                - contractAddress: "0x0000000000000000000000000000000000000000"
                  method: function invalidMethod() view returns (uint256)
              chainId: 1
          response:
            result:
              - data: "1000000000000000000"
                success: true
              - data: null
                error: Contract method call failed
                success: false
          summary: Mixed Success and Error Results
      operationId: readContract
      summary: Read Contract Methods
      tags:
        - Contracts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                calls:
                  type: array
                  items:
                    type: object
                    properties:
                      contractAddress:
                        type: string
                        description: The smart contract address. Must be a valid Ethereum-compatible
                          address (42 characters, starting with 0x).
                      method:
                        type: string
                        pattern: ^function\s+\w+
                        description: The contract function signature to call (e.g., 'function
                          approve(address spender, uint256 amount)' or `function
                          balanceOf(address)`). Must start with 'function'
                          followed by the function name and parameters as
                          defined in the contract ABI.
                      params:
                        type: array
                        items:
                          nullable: true
                        description: Array of parameters to pass to the contract method, in the correct
                          order and format.
                      value:
                        type: string
                        description: Amount of native token to send with the transaction in wei.
                          Required for payable methods.
                    required:
                      - contractAddress
                      - method
                  minItems: 1
                  description: Array of contract method calls to execute. Each call specifies a
                    contract address, method signature, and optional parameters.
                chainId:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
                  description: "The blockchain network identifier. Common values include: 1
                    (Ethereum), 8453 (Base), 137 (Polygon), 56 (BSC), 43114
                    (Avalanche), 42161 (Arbitrum), 10 (Optimism)."
              required:
                - calls
                - chainId
              example:
                calls:
                  - contractAddress: "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                    method: function name() view returns (string)
                  - contractAddress: "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                    method: function totalSupply() returns (uint256)
                  - contractAddress: "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                    method: function balanceOf(address) returns (uint256)
                    params:
                      - "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                chainId: 8453
      responses:
        "200":
          description: Contract read operations completed successfully. Returns an array
            of results corresponding to each input call, including both
            successful and failed operations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        data:
                          nullable: true
                          description: The result of the contract read operation. The type and format
                            depend on the method's return value as defined in
                            the contract ABI.
                        error:
                          type: string
                          description: Error message if the contract read operation failed.
                        success:
                          type: boolean
                          description: Indicates whether the contract read operation was successful.
                      required:
                        - success
                    description: Array of results corresponding to each contract read call. Results
                      are returned in the same order as the input calls.
                required:
                  - result
        "400":
          description: Invalid request parameters. This occurs when the chainId is not
            supported, contract addresses are invalid, function signatures are
            malformed, or the calls array is empty.
        "401":
          description: Authentication required. The request must include a valid
            `x-client-id` header for frontend usage or x-secret-key for backend
            usage.
        "500":
          description: Internal server error. This may occur due to engine connectivity
            issues, RPC node unavailability, or unexpected server errors.
  /v1/contracts/{address}/transactions:
    get:
      description: >-
        Retrieves transactions for a specific smart contract address across one
        or more blockchain networks. This endpoint provides comprehensive
        transaction data including block information, gas details, transaction
        status, and function calls. Results can be filtered, paginated, and
        sorted to meet specific requirements.


        **Authentication**: Pass `x-client-id` header for frontend usage from
        allowlisted origins or `x-secret-key` for backend usage.
      examples:
        - description: Get recent transactions for an ERC-20 token contract on Ethereum
            mainnet
          request:
            params:
              address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
            query:
              chainId:
                - 1
              limit: 10
              sortOrder: desc
          response:
            result:
              data:
                - blockHash: "0x3a1fba5abd9d41457944e91ed097e039b7b12d3d7ba324a3f422db2277a48e28"
                  blockNumber: 18500000
                  blockTimestamp: 1698000000
                  chainId: "1"
                  data: "0xa9059cbb000000000000000000000000742d35cc6634c0532925a3b8d43c67b8c8b3e9\
                    c60000000000000000000000000000000000000000000000000de0b6b3a\
                    7640000"
                  effectiveGasPrice: "20000000000"
                  fromAddress: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                  functionSelector: "0xa9059cbb"
                  gas: 50000
                  gasPrice: "20000000000"
                  gasUsed: 21000
                  hash: "0x218b632d932371478d1ae5a01620ebab1a2030f9dad6f8fba4a044ea6335a57e"
                  nonce: 42
                  status: 1
                  toAddress: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                  transactionIndex: 100
                  value: "0"
              meta:
                address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                chainIds:
                  - 1
                limitPerChain: 10
                page: 0
                totalItems: 1500
                totalPages: 150
          summary: ERC-20 Token Transactions
        - description: Get transactions across multiple chains for a multi-chain contract
          request:
            params:
              address: "0x2953399124F0cBB46d2CbACD8A89cF0599974963"
            query:
              chainId:
                - 1
                - 137
                - 56
              limit: 5
              page: 0
          response:
            result:
              data:
                - blockHash: "0x3a1fba5abd9d41457944e91ed097e039b7b12d3d7ba324a3f422db2277a48e28"
                  blockNumber: 18500000
                  blockTimestamp: 1698000000
                  chainId: "1"
                  data: "0x40c10f19000000000000000000000000742d35cc6634c0532925a3b8d43c67b8c8b3e9\
                    c6000000000000000000000000000000000000000000000000000000000\
                    000002a"
                  effectiveGasPrice: "20000000000"
                  fromAddress: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                  functionSelector: "0x40c10f19"
                  gas: 80000
                  gasPrice: "20000000000"
                  gasUsed: 65000
                  hash: "0x218b632d932371478d1ae5a01620ebab1a2030f9dad6f8fba4a044ea6335a57e"
                  nonce: 42
                  status: 1
                  toAddress: "0x2953399124F0cBB46d2CbACD8A89cF0599974963"
                  transactionIndex: 100
                  value: "0"
              meta:
                address: "0x2953399124F0cBB46d2CbACD8A89cF0599974963"
                chainIds:
                  - 1
                  - 137
                  - 56
                limitPerChain: 5
                page: 0
                totalItems: 750
                totalPages: 150
          summary: Multi-Chain Contract Transactions
        - description: Get contract transactions with ABI decoding enabled
          request:
            params:
              address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
            query:
              chainId:
                - 1
              decode: true
              limit: 5
          response:
            result:
              data:
                - blockHash: "0x3a1fba5abd9d41457944e91ed097e039b7b12d3d7ba324a3f422db2277a48e28"
                  blockNumber: 18500000
                  blockTimestamp: 1698000000
                  chainId: "1"
                  data: "0xa9059cbb000000000000000000000000742d35cc6634c0532925a3b8D43C67B8c8B3E9\
                    C60000000000000000000000000000000000000000000000000de0b6b3a\
                    7640000"
                  decoded:
                    inputs:
                      amount: "1000000000000000000"
                      to: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                    name: transfer
                    signature: transfer(address,uint256)
                  effectiveGasPrice: "20000000000"
                  fromAddress: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                  functionSelector: "0xa9059cbb"
                  gas: 50000
                  gasPrice: "20000000000"
                  gasUsed: 21000
                  hash: "0x218b632d932371478d1ae5a01620ebab1a2030f9dad6f8fba4a044ea6335a57e"
                  nonce: 42
                  status: 1
                  toAddress: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                  transactionIndex: 100
                  value: "0"
              meta:
                address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                chainIds:
                  - 1
                limitPerChain: 5
                page: 0
                totalItems: 500
                totalPages: 100
          summary: Contract Transactions with Decoding
      operationId: getContractTransactions
      summary: Get Contract Transactions
      tags:
        - Contracts
      parameters:
        - schema:
            type: string
            description: The smart contract address. Must be a valid Ethereum-compatible
              address (42 characters, starting with 0x).
          required: true
          description: The smart contract address. Must be a valid Ethereum-compatible
            address (42 characters, starting with 0x).
          name: address
          in: path
        - schema:
            type: array
            description: "Chain ID(s) to request transaction data for. You can specify
              multiple chain IDs by repeating the parameter, up to a maximum of
              50. Example: ?chainId=1&chainId=137"
            items:
              type: integer
            maxItems: 50
            minItems: 1
          required: true
          description: "Chain ID(s) to request transaction data for. You can specify
            multiple chain IDs by repeating the parameter, up to a maximum of
            50. Example: ?chainId=1&chainId=137"
          name: chainId
          in: query
        - schema:
            type: boolean
            nullable: true
            description: Whether to enable ABI decoding of transaction data. When true,
              returns decoded function calls if ABI is available.
          required: false
          description: Whether to enable ABI decoding of transaction data. When true,
            returns decoded function calls if ABI is available.
          name: decode
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
            description: "The number of transactions to return per chain (default: 20, max:
              500)."
          required: false
          description: "The number of transactions to return per chain (default: 20, max:
            500)."
          name: limit
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 20
            default: 0
            description: "The page number for pagination (default: 0, max: 20)."
          required: false
          description: "The page number for pagination (default: 0, max: 20)."
          name: page
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
            description: "Sort order - ascending or descending (default: desc)."
          required: false
          description: "Sort order - ascending or descending (default: desc)."
          name: sortOrder
          in: query
        - schema:
            type: number
            nullable: true
            description: Start time for filtering transactions (Unix timestamp). Default is
              3 months ago.
          required: false
          description: Start time for filtering transactions (Unix timestamp). Default is
            3 months ago.
          name: startTime
          in: query
      responses:
        "200":
          description: Contract transactions retrieved successfully. Returns transaction
            data with metadata including pagination information and chain
            details. When decode=true, includes decoded function calls if ABI is
            available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            blockHash:
                              type: string
                              description: The hash of the block containing this transaction.
                            blockNumber:
                              type: number
                              description: The block number containing this transaction.
                            blockTimestamp:
                              type: number
                              description: The timestamp of the block (Unix timestamp).
                            chainId:
                              type: string
                              description: The chain ID where the transaction occurred.
                            contractAddress:
                              type: string
                              description: Contract address created if this was a contract creation
                                transaction.
                            cumulativeGasUsed:
                              type: number
                              description: Total gas used by all transactions in this block up to and
                                including this one.
                            data:
                              type: string
                              description: The transaction input data.
                            decoded:
                              type: object
                              properties:
                                inputs:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                                  description: Object containing decoded function parameters.
                                name:
                                  type: string
                                  description: The function name.
                                signature:
                                  type: string
                                  description: The function signature.
                              required:
                                - inputs
                                - name
                                - signature
                              description: Decoded transaction data (only present when decode=true and ABI is
                                available).
                            effectiveGasPrice:
                              type: string
                              description: The effective gas price paid (in wei as string).
                            fromAddress:
                              type: string
                              description: The address that initiated the transaction.
                            functionSelector:
                              type: string
                              description: The function selector (first 4 bytes of the transaction data).
                            gas:
                              type: number
                              description: The gas limit for the transaction.
                            gasPrice:
                              type: string
                              description: The gas price used for the transaction (in wei as string).
                            gasUsed:
                              type: number
                              description: The amount of gas used by the transaction.
                            hash:
                              type: string
                              description: The transaction hash.
                            maxFeePerGas:
                              type: string
                              description: Maximum fee per gas (EIP-1559).
                            maxPriorityFeePerGas:
                              type: string
                              description: Maximum priority fee per gas (EIP-1559).
                            nonce:
                              type: number
                              description: The transaction nonce.
                            status:
                              type: number
                              description: The transaction status (1 for success, 0 for failure).
                            toAddress:
                              type: string
                              description: The address that received the transaction.
                            transactionIndex:
                              type: number
                              description: The index of the transaction within the block.
                            transactionType:
                              type: number
                              description: The transaction type (0=legacy, 1=EIP-2930, 2=EIP-1559).
                            value:
                              type: string
                              description: The value transferred in the transaction (in wei as string).
                          required:
                            - blockHash
                            - blockNumber
                            - blockTimestamp
                            - chainId
                            - data
                            - fromAddress
                            - functionSelector
                            - gas
                            - gasPrice
                            - hash
                            - nonce
                            - status
                            - toAddress
                            - transactionIndex
                            - value
                        description: Array of contract transactions.
                      pagination:
                        type: object
                        properties:
                          hasMore:
                            type: boolean
                            description: Whether there are more items available
                          limit:
                            type: number
                            description: Number of items per page
                          page:
                            type: number
                            description: Current page number
                          totalCount:
                            type: number
                            description: Total number of items available
                        required:
                          - limit
                          - page
                    required:
                      - data
                      - pagination
                required:
                  - result
        "400":
          description: Invalid request parameters. This occurs when the contract address
            format is invalid, chainId array is empty or exceeds the maximum
            limit of 50, or pagination parameters are out of range.
        "401":
          description: Authentication required. The request must include a valid
            `x-client-id` header for frontend usage or x-secret-key for backend
            usage.
        "404":
          description: Contract not found or no transactions available for the specified
            contract address on the given blockchain networks.
        "500":
          description: Internal server error. This may occur due to network connectivity
            issues, external service unavailability, or unexpected server
            errors.
  /v1/contracts/{address}/events:
    get:
      description: >-
        Retrieves events emitted by a specific smart contract address across one
        or more blockchain networks. This endpoint provides comprehensive event
        data including block information, transaction details, event topics, and
        optional ABI decoding. Results can be filtered, paginated, and sorted to
        meet specific requirements.


        **Authentication**: Pass `x-client-id` header for frontend usage from
        allowlisted origins or `x-secret-key` for backend usage.
      examples:
        - description: Get recent Transfer events from an ERC-20 token contract on
            Ethereum mainnet
          request:
            params:
              address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
            query:
              chainId:
                - 1
              decode: true
              limit: 10
              sortOrder: desc
          response:
            result:
              data:
                - address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                  blockHash: "0x3a1fba5abd9d41457944e91ed097e039b7b12d3d7ba324a3f422db2277a48e28"
                  blockNumber: 18500000
                  blockTimestamp: 1698000000
                  chainId: "1"
                  data: "0x0000000000000000000000000000000000000000000000000de0b6b3a7640000"
                  decoded:
                    indexedParams:
                      from: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                      to: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                    name: Transfer
                    nonIndexedParams:
                      value: "1000000000000000000"
                    signature: Transfer(address,address,uint256)
                  logIndex: 5
                  topics:
                    - "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a\
                      4df523b3ef"
                    - "0x000000000000000000000000742d35cc6634c0532925a3b8d43c67\
                      b8c8b3e9c6"
                    - "0x000000000000000000000000a0b86a33e6411e3036c1c4c7e815d0\
                      a82e3f5fd6"
                  transactionHash: "0x218b632d932371478d1ae5a01620ebab1a2030f9dad6f8fba4a044ea633\
                    5a57e"
                  transactionIndex: 100
              meta:
                address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                chainIds:
                  - 1
                limitPerChain: 10
                page: 0
                totalItems: 5000
                totalPages: 500
          summary: ERC-20 Transfer Events with Decoding
        - description: Get events across multiple chains for a multi-chain contract
            without decoding
          request:
            params:
              address: "0x2953399124F0cBB46d2CbACD8A89cF0599974963"
            query:
              chainId:
                - 1
                - 137
                - 56
              decode: false
              limit: 5
              page: 0
          response:
            result:
              data:
                - address: "0x2953399124F0cBB46d2CbACD8A89cF0599974963"
                  blockHash: "0x3a1fba5abd9d41457944e91ed097e039b7b12d3d7ba324a3f422db2277a48e28"
                  blockNumber: 18500000
                  blockTimestamp: 1698000000
                  chainId: "1"
                  data: "0x000000000000000000000000000000000000000000000000000000000000002a"
                  logIndex: 2
                  topics:
                    - "0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2291e5b200a\
                      c8c7c3b925"
                    - "0x000000000000000000000000742d35cc6634c0532925a3b8d43c67\
                      b8c8b3e9c6"
                    - "0x0000000000000000000000002953399124f0cbb46d2cbacd8a89cf\
                      0599974963"
                  transactionHash: "0x218b632d932371478d1ae5a01620ebab1a2030f9dad6f8fba4a044ea633\
                    5a57e"
                  transactionIndex: 100
              meta:
                address: "0x2953399124F0cBB46d2CbACD8A89cF0599974963"
                chainIds:
                  - 1
                  - 137
                  - 56
                limitPerChain: 5
                page: 0
                totalItems: 2500
                totalPages: 500
          summary: Multi-Chain Contract Events
      operationId: getContractEvents
      summary: Get Contract Events
      tags:
        - Contracts
      parameters:
        - schema:
            type: string
            description: The smart contract address. Must be a valid Ethereum-compatible
              address (42 characters, starting with 0x).
          required: true
          description: The smart contract address. Must be a valid Ethereum-compatible
            address (42 characters, starting with 0x).
          name: address
          in: path
        - schema:
            type: array
            description: "Chain ID(s) to request event data for. You can specify multiple
              chain IDs by repeating the parameter, up to a maximum of 50.
              Example: ?chainId=1&chainId=137"
            items:
              type: integer
            maxItems: 50
            minItems: 1
          required: true
          description: "Chain ID(s) to request event data for. You can specify multiple
            chain IDs by repeating the parameter, up to a maximum of 50.
            Example: ?chainId=1&chainId=137"
          name: chainId
          in: query
        - schema:
            type: boolean
            nullable: true
            description: Whether to enable ABI decoding of event data. When true, returns
              decoded event parameters if ABI is available.
          required: false
          description: Whether to enable ABI decoding of event data. When true, returns
            decoded event parameters if ABI is available.
          name: decode
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
            description: Maximum number of events to return per chain. Must be between 1 and
              500. Default is 20.
          required: false
          description: Maximum number of events to return per chain. Must be between 1 and
            500. Default is 20.
          name: limit
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 20
            default: 0
            description: Page number for pagination (0-based). Must be between 0 and 20.
              Default is 0.
          required: false
          description: Page number for pagination (0-based). Must be between 0 and 20.
            Default is 0.
          name: page
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
            description: Sort order for the results. Always sorts by block_number. 'desc'
              for newest first, 'asc' for oldest first. Default is 'desc'.
          required: false
          description: Sort order for the results. Always sorts by block_number. 'desc'
            for newest first, 'asc' for oldest first. Default is 'desc'.
          name: sortOrder
          in: query
        - schema:
            type: number
            nullable: true
            description: Start time for filtering events (Unix timestamp). Default is 3
              months ago.
          required: false
          description: Start time for filtering events (Unix timestamp). Default is 3
            months ago.
          name: startTime
          in: query
      responses:
        "200":
          description: Contract events retrieved successfully. Returns event data with
            metadata including pagination information and chain details. When
            decode=true, includes decoded event parameters if ABI is available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      events:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                              description: The contract address that emitted the event.
                            blockHash:
                              type: string
                              description: The hash of the block containing this event.
                            blockNumber:
                              type: number
                              description: The block number where the event was emitted.
                            blockTimestamp:
                              type: number
                              description: The timestamp of the block (Unix timestamp).
                            chainId:
                              type: string
                              description: The chain ID where the event occurred.
                            data:
                              type: string
                              description: The non-indexed event data as a hex string.
                            decoded:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The event name.
                                params:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                                  description: Object containing decoded parameters.
                                signature:
                                  type: string
                                  description: The event signature.
                              required:
                                - name
                                - params
                                - signature
                              description: Decoded event data (only present when decode=true and ABI is
                                available).
                            logIndex:
                              type: number
                              description: The index of the log within the transaction.
                            topics:
                              type: array
                              items:
                                type: string
                              description: Array of indexed event topics (including event signature).
                            transactionHash:
                              type: string
                              description: The hash of the transaction containing this event.
                            transactionIndex:
                              type: number
                              description: The index of the transaction within the block.
                          required:
                            - address
                            - blockHash
                            - blockNumber
                            - blockTimestamp
                            - chainId
                            - data
                            - logIndex
                            - topics
                            - transactionHash
                            - transactionIndex
                        description: Array of contract events.
                      pagination:
                        type: object
                        properties:
                          hasMore:
                            type: boolean
                            description: Whether there are more items available
                          limit:
                            type: number
                            description: Number of items per page
                          page:
                            type: number
                            description: Current page number
                          totalCount:
                            type: number
                            description: Total number of items available
                        required:
                          - limit
                          - page
                    required:
                      - events
                      - pagination
                required:
                  - result
        "400":
          description: Invalid request parameters. This occurs when the contract address
            format is invalid, chainId array is empty or exceeds the maximum
            limit of 50, or pagination parameters are out of range.
        "401":
          description: Authentication required. The request must include a valid
            `x-client-id` header for frontend usage or x-secret-key for backend
            usage.
        "404":
          description: Contract not found or no events available for the specified
            contract address on the given blockchain networks.
        "500":
          description: Internal server error. This may occur due to network connectivity
            issues, external service unavailability, or unexpected server
            errors.
  /v1/contracts/write:
    post:
      description: >-
        Executes write operations (transactions) on smart contracts. This is a
        convenience endpoint that simplifies contract interaction by accepting
        method signatures and parameters directly, without requiring manual
        transaction encoding. All calls are executed against the same contract
        address and chain, making it ideal for batch operations.


        **Authentication**: This endpoint requires project authentication and
        wallet authentication. For backend usage, use `x-secret-key` header. For
        frontend usage, use `x-client-id` + `Authorization: Bearer <jwt>`
        headers.
      examples:
        - description: Execute a single ERC-20 token approval transaction (backend usage)
          request:
            body:
              calls:
                - contractAddress: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                  method: function approve(address spender, uint256 amount)
                  params:
                    - "0x1234567890123456789012345678901234567890"
                    - "1000000000000000000"
              chainId: 1
              from: "0x1234567890123456789012345678901234567890"
            headers:
              x-secret-key: your-secret-key
          response:
            result:
              transactionIds:
                - 0xabcdef1234567890...
          summary: Single Token Approval (Backend)
        - description: Batch multiple contract calls in a single request (frontend usage)
          request:
            body:
              calls:
                - contractAddress: "0x2953399124F0cBB46d2CbACD8A89cF0599974963"
                  method: function setApprovalForAll(address operator, bool approved)
                  params:
                    - "0x1234567890123456789012345678901234567890"
                    - true
                - contractAddress: "0x2953399124F0cBB46d2CbACD8A89cF0599974963"
                  method: function mint(address to, uint256 tokenId)
                  params:
                    - "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                    - 42
              chainId: 137
              from: "0x1234567890123456789012345678901234567890"
            headers:
              Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              x-client-id: your-client-id
          response:
            result:
              transactionIds:
                - 0xabcdef1234567890...
                - 0x1234567890abcdef...
          summary: Batch NFT Operations (Frontend)
        - description: Execute payable contract method with native token value (backend
            usage)
          request:
            body:
              calls:
                - contractAddress: "0x1234567890123456789012345678901234567890"
                  method: function purchase(uint256 amount)
                  params:
                    - 5
                  value: "50000000000000000"
              chainId: 84532
              from: "0x1234567890123456789012345678901234567890"
            headers:
              x-secret-key: your-secret-key
          response:
            result:
              transactionIds:
                - 0x1234567890abcdef...
          summary: Payable Method with Value (Backend)
      operationId: writeContract
      summary: Write Contract Methods
      tags:
        - Contracts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                calls:
                  type: array
                  items:
                    type: object
                    properties:
                      contractAddress:
                        type: string
                        description: The smart contract address. Must be a valid Ethereum-compatible
                          address (42 characters, starting with 0x).
                      method:
                        type: string
                        pattern: ^function\s+\w+
                        description: The contract function signature to call (e.g., 'function
                          approve(address spender, uint256 amount)' or `function
                          balanceOf(address)`). Must start with 'function'
                          followed by the function name and parameters as
                          defined in the contract ABI.
                      params:
                        type: array
                        items:
                          nullable: true
                        description: Array of parameters to pass to the contract method, in the correct
                          order and format.
                      value:
                        type: string
                        description: Amount of native token to send with the transaction in wei.
                          Required for payable methods.
                    required:
                      - contractAddress
                      - method
                  minItems: 1
                  description: Array of contract method calls to execute. Each call specifies a
                    contract address, method signature, and optional parameters.
                chainId:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
                  description: "The blockchain network identifier. Common values include: 1
                    (Ethereum), 8453 (Base), 137 (Polygon), 56 (BSC), 43114
                    (Avalanche), 42161 (Arbitrum), 10 (Optimism)."
                from:
                  type: string
                  description: The wallet address that will send the transaction.
              required:
                - calls
                - chainId
                - from
              example:
                calls:
                  - contractAddress: "0xe352Cf5f74e3ACfd2d59EcCee6373d2Aa996086e"
                    method: function approve(address spender, uint256 amount)
                    params:
                      - "0x4fA9230f4E8978462cE7Bf8e6b5a2588da5F4264"
                      - 1000000000
                chainId: 84532
                from: "0x1234567890123456789012345678901234567890"
      responses:
        "200":
          description: Contract write operations submitted successfully. Returns
            transaction IDs for tracking and monitoring.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      transactionIds:
                        type: array
                        items:
                          type: string
                        description: Array of unique identifiers for the submitted transactions. Use
                          these to track transaction status.
                    required:
                      - transactionIds
                required:
                  - result
        "400":
          description: Invalid request parameters. This occurs when contract parameters
            are malformed, method signatures are invalid, insufficient balance,
            or unsupported contract methods.
        "401":
          description: "Authentication required. For backend usage, include `x-secret-key`
            header. For frontend usage, include `x-client-id` + `Authorization:
            Bearer <jwt>` headers."
        "404":
          description: Contract not found. The specified contract address does not exist
            on the given blockchain network or is not accessible.
        "500":
          description: Internal server error. This may occur due to blockchain
            connectivity issues, gas estimation failures, contract execution
            errors, or unexpected server errors.
  /v1/wallets/{address}/balance:
    get:
      description: >-
        Get native token balance for a wallet address across multiple blockchain
        networks. This endpoint retrieves native token balances (ETH, MATIC,
        BNB, etc.) for a given wallet address on multiple chains simultaneously,
        making it efficient for cross-chain native balance checking.


        **Authentication**: Pass `x-client-id` header for frontend usage from
        allowlisted origins or `x-secret-key` for backend usage.
      examples:
        - description: Get native token balance on Ethereum and Polygon
          request:
            params:
              address: "0x23ab781749E2694222f7FD499Ed7861463Fb9a5d"
            query:
              chainId:
                - 1
                - 137
          response:
            result:
              - chainId: 1
                decimals: 18
                displayValue: "1.5"
                name: Ether
                symbol: ETH
                tokenAddress: "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"
                value: "1500000000000000000"
              - chainId: 137
                decimals: 18
                displayValue: "2.3"
                name: Matic Token
                symbol: MATIC
                tokenAddress: "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"
                value: "2300000000000000000"
        - description: Get native balance across Base and Arbitrum chains
          request:
            params:
              address: "0x23ab781749E2694222f7FD499Ed7861463Fb9a5d"
            query:
              chainId:
                - 8453
                - 42161
          response:
            result:
              - chainId: 8453
                decimals: 18
                displayValue: "0.75"
                name: Ether
                symbol: ETH
                tokenAddress: "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"
                value: "750000000000000000"
              - chainId: 42161
                decimals: 18
                displayValue: "1.25"
                name: Ether
                symbol: ETH
                tokenAddress: "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"
                value: "1250000000000000000"
      operationId: getWalletBalance
      summary: Get Wallet Native Balance
      tags:
        - Wallets
      parameters:
        - schema:
            type: string
            description: A valid Ethereum address, which is a 40-character hexadecimal
              string (0x prefixed) representing an account on the Ethereum
              blockchain.
          required: true
          description: A valid Ethereum address, which is a 40-character hexadecimal
            string (0x prefixed) representing an account on the Ethereum
            blockchain.
          name: address
          in: path
        - schema:
            type: array
            description: "Chain ID(s) to request balance data for. You can specify multiple
              chain IDs by repeating the parameter, up to a maximum of 50.
              Example: ?chainId=1&chainId=137"
            items:
              type: integer
            maxItems: 50
            minItems: 1
          required: true
          description: "Chain ID(s) to request balance data for. You can specify multiple
            chain IDs by repeating the parameter, up to a maximum of 50.
            Example: ?chainId=1&chainId=137"
          name: chainId
          in: query
      responses:
        "200":
          description: Wallet native balances retrieved successfully. Returns detailed
            native token balance information for each chain including token
            metadata and formatted values.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        chainId:
                          type: number
                          description: The blockchain network ID
                        decimals:
                          type: number
                          description: Number of decimal places for the token
                        displayValue:
                          type: string
                          description: Human-readable balance formatted with appropriate decimal places
                        name:
                          type: string
                          description: The token name (e.g., 'Ether', 'USD Coin')
                        symbol:
                          type: string
                          description: The token symbol (e.g., 'ETH', 'USDC')
                        tokenAddress:
                          type: string
                          description: The token contract address. Returns zero address (0x0...0) for
                            native tokens.
                        value:
                          type: string
                          description: Raw balance value as string in smallest unit (wei for ETH, etc.)
                      required:
                        - chainId
                        - decimals
                        - displayValue
                        - name
                        - symbol
                        - tokenAddress
                        - value
                required:
                  - result
        "400":
          description: Invalid request parameters. This occurs when the wallet address
            format is invalid, chainId array is empty or exceeds the maximum
            limit of 50, or chain IDs are invalid.
        "401":
          description: Authentication required. The request must include a valid
            `x-client-id` header for frontend usage or x-secret-key for backend
            usage.
        "500":
          description: Internal server error. This may occur due to blockchain
            connectivity issues, RPC service unavailability, or unexpected
            server errors.
  /v1/wallets/{address}/transactions:
    get:
      description: >-
        Retrieves transactions for a specific wallet address across one or more
        blockchain networks. This endpoint provides comprehensive transaction
        data including both incoming and outgoing transactions, with block
        information, gas details, transaction status, and function calls.
        Results can be filtered, paginated, and sorted to meet specific
        requirements.


        **Authentication**: Pass `x-client-id` header for frontend usage from
        allowlisted origins or `x-secret-key` for backend usage.
      examples:
        - description: Get recent transactions for a wallet on Ethereum mainnet
          request:
            query:
              address: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
              chainId:
                - 1
              limit: 10
              sortOrder: desc
          response:
            result:
              data:
                - blockHash: "0x3a1fba5abd9d41457944e91ed097e039b7b12d3d7ba324a3f422db2277a48e28"
                  blockNumber: 18500000
                  blockTimestamp: 1698000000
                  chainId: "1"
                  data: "0xa9059cbb000000000000000000000000742d35cc6634c0532925a3b8d43c67b8c8b3e9\
                    c60000000000000000000000000000000000000000000000000de0b6b3a\
                    7640000"
                  effectiveGasPrice: "20000000000"
                  fromAddress: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                  functionSelector: "0xa9059cbb"
                  gas: 50000
                  gasPrice: "20000000000"
                  gasUsed: 21000
                  hash: "0x218b632d932371478d1ae5a01620ebab1a2030f9dad6f8fba4a044ea6335a57e"
                  nonce: 42
                  status: 1
                  toAddress: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                  transactionIndex: 100
                  value: "1000000000000000000"
              meta:
                address: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                chainIds:
                  - 1
                limitPerChain: 10
                page: 0
                totalItems: 1500
                totalPages: 150
          summary: Wallet Transactions on Ethereum
        - description: Get transactions across multiple chains with decoding enabled
          request:
            query:
              address: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
              chainId:
                - 1
                - 137
                - 56
              decode: true
              limit: 5
              page: 0
          response:
            result:
              data:
                - blockHash: "0x3a1fba5abd9d41457944e91ed097e039b7b12d3d7ba324a3f422db2277a48e28"
                  blockNumber: 18500000
                  blockTimestamp: 1698000000
                  chainId: "1"
                  data: "0xa9059cbb000000000000000000000000742d35cc6634c0532925a3b8d43c67b8c8b3e9\
                    c60000000000000000000000000000000000000000000000000de0b6b3a\
                    7640000"
                  decoded:
                    inputs:
                      amount: "1000000000000000000"
                      to: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                    name: transfer
                    signature: transfer(address,uint256)
                  effectiveGasPrice: "20000000000"
                  fromAddress: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                  functionSelector: "0xa9059cbb"
                  gas: 50000
                  gasPrice: "20000000000"
                  gasUsed: 21000
                  hash: "0x218b632d932371478d1ae5a01620ebab1a2030f9dad6f8fba4a044ea6335a57e"
                  nonce: 42
                  status: 1
                  toAddress: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                  transactionIndex: 100
                  value: "1000000000000000000"
              meta:
                address: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                chainIds:
                  - 1
                  - 137
                  - 56
                limitPerChain: 5
                page: 0
                totalItems: 750
                totalPages: 150
          summary: Multi-Chain Wallet Transactions with Decoding
      operationId: getWalletTransactions
      summary: Get Wallet Transactions
      tags:
        - Wallets
      parameters:
        - schema:
            type: string
            description: A valid Ethereum address, which is a 40-character hexadecimal
              string (0x prefixed) representing an account on the Ethereum
              blockchain.
          required: true
          description: A valid Ethereum address, which is a 40-character hexadecimal
            string (0x prefixed) representing an account on the Ethereum
            blockchain.
          name: address
          in: path
        - schema:
            type: array
            description: "Chain ID(s) to request transaction data for. You can specify
              multiple chain IDs by repeating the parameter, up to a maximum of
              50. Example: ?chainId=1&chainId=137"
            items:
              type: integer
            maxItems: 50
            minItems: 1
          required: true
          description: "Chain ID(s) to request transaction data for. You can specify
            multiple chain IDs by repeating the parameter, up to a maximum of
            50. Example: ?chainId=1&chainId=137"
          name: chainId
          in: query
        - schema:
            type: boolean
            nullable: true
            description: Whether to enable ABI decoding of transaction data. When true,
              returns decoded function calls if ABI is available.
          required: false
          description: Whether to enable ABI decoding of transaction data. When true,
            returns decoded function calls if ABI is available.
          name: decode
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
            description: "The number of transactions to return per chain (default: 20, max:
              500)."
          required: false
          description: "The number of transactions to return per chain (default: 20, max:
            500)."
          name: limit
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 20
            default: 0
            description: "The page number for pagination (default: 0, max: 20)."
          required: false
          description: "The page number for pagination (default: 0, max: 20)."
          name: page
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
            description: "Sort order - ascending or descending (default: desc)."
          required: false
          description: "Sort order - ascending or descending (default: desc)."
          name: sortOrder
          in: query
        - schema:
            type: number
            nullable: true
            description: Start time for filtering transactions (Unix timestamp). Default is
              3 months ago.
          required: false
          description: Start time for filtering transactions (Unix timestamp). Default is
            3 months ago.
          name: startTime
          in: query
      responses:
        "200":
          description: Wallet transactions retrieved successfully. Returns transaction
            data with metadata including pagination information and chain
            details. When decode=true, includes decoded function calls if ABI is
            available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          hasMore:
                            type: boolean
                            description: Whether there are more items available
                          limit:
                            type: number
                            description: Number of items per page
                          page:
                            type: number
                            description: Current page number
                          totalCount:
                            type: number
                            description: Total number of items available
                        required:
                          - limit
                          - page
                      transactions:
                        type: array
                        items:
                          type: object
                          properties:
                            blockHash:
                              type: string
                              description: The hash of the block containing this transaction.
                            blockNumber:
                              type: number
                              description: The block number containing this transaction.
                            blockTimestamp:
                              type: number
                              description: The timestamp of the block (Unix timestamp).
                            chainId:
                              type: string
                              description: The chain ID where the transaction occurred.
                            contractAddress:
                              type: string
                              description: Contract address created if this was a contract creation
                                transaction.
                            cumulativeGasUsed:
                              type: number
                              description: Total gas used by all transactions in this block up to and
                                including this one.
                            data:
                              type: string
                              description: The transaction input data.
                            decoded:
                              type: object
                              properties:
                                inputs:
                                  type: object
                                  additionalProperties:
                                    nullable: true
                                  description: Object containing decoded function parameters.
                                name:
                                  type: string
                                  description: The function name.
                                signature:
                                  type: string
                                  description: The function signature.
                              required:
                                - inputs
                                - name
                                - signature
                              description: Decoded transaction data (only present when decode=true and ABI is
                                available).
                            effectiveGasPrice:
                              type: string
                              description: The effective gas price paid (in wei as string).
                            fromAddress:
                              type: string
                              description: The address that initiated the transaction.
                            functionSelector:
                              type: string
                              description: The function selector (first 4 bytes of the transaction data).
                            gas:
                              type: number
                              description: The gas limit for the transaction.
                            gasPrice:
                              type: string
                              description: The gas price used for the transaction (in wei as string).
                            gasUsed:
                              type: number
                              description: The amount of gas used by the transaction.
                            hash:
                              type: string
                              description: The transaction hash.
                            maxFeePerGas:
                              type: string
                              description: Maximum fee per gas (EIP-1559).
                            maxPriorityFeePerGas:
                              type: string
                              description: Maximum priority fee per gas (EIP-1559).
                            nonce:
                              type: number
                              description: The transaction nonce.
                            status:
                              type: number
                              description: The transaction status (1 for success, 0 for failure).
                            toAddress:
                              type: string
                              description: The address that received the transaction.
                            transactionIndex:
                              type: number
                              description: The index of the transaction within the block.
                            transactionType:
                              type: number
                              description: The transaction type (0=legacy, 1=EIP-2930, 2=EIP-1559).
                            value:
                              type: string
                              description: The value transferred in the transaction (in wei as string).
                          required:
                            - blockHash
                            - blockNumber
                            - blockTimestamp
                            - chainId
                            - data
                            - fromAddress
                            - functionSelector
                            - gas
                            - gasPrice
                            - hash
                            - nonce
                            - status
                            - toAddress
                            - transactionIndex
                            - value
                        description: Array of wallet transactions.
                    required:
                      - pagination
                      - transactions
                required:
                  - result
        "400":
          description: Invalid request parameters. This occurs when the wallet address
            format is invalid, chainId array is empty or exceeds the maximum
            limit of 50, or pagination parameters are out of range.
        "401":
          description: Authentication required. The request must include a valid
            `x-client-id` header for frontend usage or x-secret-key for backend
            usage.
        "404":
          description: Wallet not found or no transactions available for the specified
            wallet address on the given blockchain networks.
        "500":
          description: Internal server error. This may occur due to network connectivity
            issues, external service unavailability, or unexpected server
            errors.
  /v1/wallets/{address}/tokens:
    get:
      description: >-
        Retrieves token balances for a specific wallet address across one or
        more blockchain networks. This endpoint provides comprehensive token
        data including ERC-20 tokens with their balances, metadata, and price
        information. Results can be filtered by chain and paginated to meet
        specific requirements.


        **Authentication**: Pass `x-client-id` header for frontend usage from
        allowlisted origins or `x-secret-key` for backend usage.
      examples:
        - description: Get token balances for a wallet on Ethereum mainnet
          request:
            params:
              address: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
            query:
              chainId:
                - 1
              limit: 10
          response:
            result:
              pagination:
                limit: 10
                page: 0
                totalCount: 25
              tokens:
                - balance: "1000000000000000000"
                  chain_id: 1
                  decimals: 18
                  name: Dai Stablecoin
                  price_data:
                    market_cap_usd: 5000000000
                    percent_change_24h: 0.1
                    price_timestamp: 2024-01-15T10:30:00Z
                    price_usd: 1.001
                    volume_24h_usd: 50000000
                  symbol: DAI
                  token_address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
          summary: Wallet Tokens on Ethereum
        - description: Get token balances across multiple chains
          request:
            params:
              address: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
            query:
              chainId:
                - 1
                - 137
                - 56
              limit: 5
              page: 0
          response:
            result:
              pagination:
                limit: 5
                page: 0
                totalCount: 15
              tokens:
                - balance: "1000000000000000000"
                  chain_id: 1
                  decimals: 18
                  name: Dai Stablecoin
                  price_data:
                    market_cap_usd: 5000000000
                    percent_change_24h: 0.1
                    price_timestamp: 2024-01-15T10:30:00Z
                    price_usd: 1.001
                    volume_24h_usd: 50000000
                  symbol: DAI
                  token_address: "0xA0b86a33E6411E3036C1C4c7E815D0a82e3F5fD6"
                - balance: "500000000"
                  chain_id: 137
                  decimals: 6
                  name: USD Coin
                  price_data:
                    market_cap_usd: 25000000000
                    percent_change_24h: -0.05
                    price_timestamp: 2024-01-15T10:30:00Z
                    price_usd: 0.999
                    volume_24h_usd: 100000000
                  symbol: USDC
                  token_address: "0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174"
          summary: Multi-Chain Wallet Tokens
      operationId: getWalletTokens
      summary: Get Wallet Tokens
      tags:
        - Wallets
      parameters:
        - schema:
            type: string
            description: A valid Ethereum address, which is a 40-character hexadecimal
              string (0x prefixed) representing an account on the Ethereum
              blockchain.
          required: true
          description: A valid Ethereum address, which is a 40-character hexadecimal
            string (0x prefixed) representing an account on the Ethereum
            blockchain.
          name: address
          in: path
        - schema:
            type: array
            description: "Chain ID(s) to request token data for. You can specify multiple
              chain IDs by repeating the parameter, up to a maximum of 50.
              Example: ?chainId=1&chainId=137"
            items:
              type: integer
            maxItems: 50
            minItems: 1
          required: true
          description: "Chain ID(s) to request token data for. You can specify multiple
            chain IDs by repeating the parameter, up to a maximum of 50.
            Example: ?chainId=1&chainId=137"
          name: chainId
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
            description: "The number of tokens to return per chain (default: 20, max: 500)."
          required: false
          description: "The number of tokens to return per chain (default: 20, max: 500)."
          name: limit
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            maximum: 20
            default: 0
            description: "The page number for pagination (default: 0, max: 20)."
          required: false
          description: "The page number for pagination (default: 0, max: 20)."
          name: page
          in: query
      responses:
        "200":
          description: Wallet tokens retrieved successfully. Returns token data with
            metadata including pagination information and chain details.
            Includes token balances, metadata, and price information when
            available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          hasMore:
                            type: boolean
                            description: Whether there are more items available
                          limit:
                            type: number
                            description: Number of items per page
                          page:
                            type: number
                            description: Current page number
                          totalCount:
                            type: number
                            description: Total number of items available
                        required:
                          - limit
                          - page
                      tokens:
                        type: array
                        items:
                          type: object
                          properties:
                            balance:
                              type: string
                              description: The token balance as a string
                            chain_id:
                              type: number
                              description: The chain ID of the token
                            decimals:
                              type: number
                              description: The number of decimal places
                            name:
                              type: string
                              description: The token name
                            price_data:
                              type: object
                              properties:
                                circulating_supply:
                                  type: number
                                  description: The circulating supply of the token
                                market_cap_usd:
                                  type: number
                                  description: The market cap of the token in USD
                                percent_change_24h:
                                  type: number
                                  description: The percentage change of the token in the last 24 hours
                                price_timestamp:
                                  type: string
                                  description: The timestamp of the latest price update
                                price_usd:
                                  type: number
                                  description: The price of the token in USD
                                total_supply:
                                  type: number
                                  description: The total supply of the token
                                volume_24h_usd:
                                  type: number
                                  description: The volume of the token in USD
                              description: Price data for the token
                            symbol:
                              type: string
                              description: The token symbol
                            token_address:
                              type: string
                              description: The contract address of the token
                          required:
                            - balance
                            - chain_id
                            - token_address
                        description: Array of wallet tokens.
                    required:
                      - pagination
                      - tokens
                required:
                  - result
        "400":
          description: Invalid request parameters. This occurs when the wallet address
            format is invalid, chainId array is empty or exceeds the maximum
            limit of 50, or pagination parameters are out of range.
        "401":
          description: Authentication required. The request must include a valid
            `x-client-id` header for frontend usage or x-secret-key for backend
            usage.
        "404":
          description: Wallet not found or no tokens available for the specified wallet
            address on the given blockchain networks.
        "500":
          description: Internal server error. This may occur due to network connectivity
            issues, external service unavailability, or unexpected server
            errors.
  /v1/wallets/{address}/nfts:
    get:
      description: >-
        Retrieves NFTs for a specific wallet address across one or more
        blockchain networks. This endpoint provides comprehensive NFT data
        including metadata, attributes, and collection information. Results can
        be filtered by chain and paginated to meet specific requirements.


        **Authentication**: Pass `x-client-id` header for frontend usage from
        allowlisted origins or `x-secret-key` for backend usage.
      examples:
        - description: Get NFTs for a wallet on Ethereum mainnet
          request:
            params:
              address: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
            query:
              chainId:
                - 1
              limit: 10
          response:
            result:
              nfts:
                - attributes:
                    - trait_type: Background
                      value: Blue
                    - trait_type: Eyes
                      value: Laser Eyes
                  chain_id: 1
                  collection:
                    description: A collection of 10,000 unique Bored Ape NFTs
                    name: Bored Ape Yacht Club
                  description: A unique Bored Ape NFT
                  image: https://ipfs.io/ipfs/QmYxT4LnK8sqLupjbS6eRvu1si7Ly2wFQAqFebxhWntcf6
                  name: "Bored Ape #1234"
                  token_address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                  token_id: "1234"
              pagination:
                hasMore: false
                limit: 10
                page: 0
          summary: Wallet NFTs on Ethereum
        - description: Get NFTs across multiple chains
          request:
            params:
              address: "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
            query:
              chainId:
                - 1
                - 137
                - 56
              limit: 5
              page: 0
          response:
            result:
              nfts:
                - chain_id: 1
                  description: A unique Bored Ape NFT
                  image: https://ipfs.io/ipfs/QmYxT4LnK8sqLupjbS6eRvu1si7Ly2wFQAqFebxhWntcf6
                  name: "Bored Ape #1234"
                  token_address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                  token_id: "1234"
                - chain_id: 137
                  description: A creature from the OpenSea collection
                  image: https://ipfs.io/ipfs/QmPbxeGcXhYQQNgsC6a36dDyYUcHgMLnGKnF8pVFmGsvqi
                  name: "OpenSea Creature #5678"
                  token_address: "0x2953399124F0cBB46d2CbACD8A89cF0599974963"
                  token_id: "5678"
              pagination:
                hasMore: true
                limit: 5
                page: 0
          summary: Multi-Chain Wallet NFTs
      operationId: getWalletNFTs
      summary: Get Wallet NFTs
      tags:
        - Wallets
      parameters:
        - schema:
            type: string
            description: A valid Ethereum address, which is a 40-character hexadecimal
              string (0x prefixed) representing an account on the Ethereum
              blockchain.
          required: true
          description: A valid Ethereum address, which is a 40-character hexadecimal
            string (0x prefixed) representing an account on the Ethereum
            blockchain.
          name: address
          in: path
        - schema:
            type: array
[...]
